body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    height: fit-content;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li {
    position: relative;
}

nav ul li:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #fff;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
    transition: all 0.3s ease;
}

.search-auth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box {
    padding: 5px;
    font-size: 16px;
}

.search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-buttons-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Dropdown Menu */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

nav ul ul li {
    width: 200px;
    text-align: left;
}

nav ul li:hover > ul {
    display: block;
}

.main-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    color: #fff;
}

.tabs-content {
    flex: 3;
    color: #fff;
}

aside.auth-sidebar {
    flex: 1;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    bottom: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

