.post{

border: 1px;
border-radius: 10px;
border-width: 80%;
border-style: double;



}
.post:hover {
    transform: translateZ(10px);
    background-color: rgb(243, 243, 178);
    cursor: pointer;
   
  }
p.post{
max-height: 10px;;


}

.postContent{
        text-overflow: ellipsis;
        
        width: 80%;
        height: 100px;
        
         overflow:hidden;
        white-space: wrap;
        

}