.container{
    position: relative;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    
}

.box-head{
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 166, 0);
    align-items: center;
}

.box-head2{

border-radius: 10px;
background-color: gainsboro;
text-align: left;
text-indent: 4%;

}

.flex-child{
display: flexbox;

}

.portfolio{
    box-sizing: border-box;
    position: relative;
    height: 66vh;
    width: 32%;
    margin-top: 10px;
    margin-left: 10px;
    border:2px solid black;
    border-radius: 10px;
}

.gainers{
    box-sizing: border-box;
    position: relative;
    height: 66vh;
    width: 32%;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
margin-left: 10px;

}



.top-gainers{

    height: 100%;
    
    overflow-y: scroll;}
.top-losers{

    height: 100%;
    
    overflow-y: scroll;}
.top-trending{


    height: 100%;
    overflow-y: scroll;

}


.messages{color: black;
    height: 100%;
    overflow-y: scroll;
    }
.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    font-weight: bold;

}
  .messages form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  .messages button:hover {
    background-color: #0056b3; 
  }

  .message {
    
    padding: 15px;
    border: 1px solid #dee2e6; 
    border-radius: 5px; 
    background-color: #ffdcdc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px; 
  }


.top-gainers  .h3{ font-size: 20px; color: black; text-align: left;}
.top-gainers  .h5{font-size: 20px;  color: black; text-align: right;}
.top-gainers .h4{ font-size: 13px; color: black;  text-align: left;}
.top-gainers .h6{font-size: 13px;  text-align: right; }


.top-trending  .h3{ font-size: 20px; color: black; text-align: left;}
.top-trending  .h5{font-size: 20px; color: black;  text-align: right;}
.top-trending .h4{ font-size: 13px; color: black;  text-align: left;}
.top-trending .h6{font-size: 13px;  text-align: right; }



.top-losers  .h3{ font-size: 20px; color: black; text-align: left;}
.top-losers  .h5{font-size: 20px; color: black;  text-align: right;}
.top-losers .h4{ font-size: 13px; color: black;  text-align: left;}
.top-losers .h6{font-size: 13px;  text-align: right; }

.positive{color:green;}
.negative{color: red;}

@media screen and (max-width: 1500px) {
    .portfolio{   
        width:100%;
    }
    .gainers{   
        width:45%;
    }    
    .losers{                  
       width: 45%;
    }
}   







@media screen and (max-width: 1000px) {
    .flex-child{   
        flex-direction: column;
        width:100%;
        }
        .gainers{   
            flex-direction: column;
            width:100%;
            }
    
            .losers{   
                flex-direction: column;
                width:100%;
                }
       
                
                .news{
                    flex-direction: column;
                    width:100%;
                 
                }
                
                .messages{
                    flex-direction: column;
                    width:100%;
                    
                }

   }   