.container{
    position: relative;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    
}

.box-head{
    border-radius: 10px;
    text-align: center;
    background-color: wheat;
    align-items: center;
}

.box-head2{

border-radius: 10px;
background-color: gainsboro;
text-align: left;
text-indent: 4%;

}

.flex-child{
display: flexbox;

}

.portfolio{
    box-sizing: border-box;
    position: relative;
    height: 66vh;
    width: 32%;
    margin-top: 10px;
    margin-left: 10px;
    border:2px solid black;
    border-radius: 10px;
}

.gainers{
    box-sizing: border-box;
    position: relative;
    height: 66vh;
    width: 32%;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
margin-left: 10px;

}

.losers{
    flex-grow: 2;
    box-sizing: border-box;
    position: relative;
    height: 66vh;
    width: 32%;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
margin-left: 10px;
}
.news{

    box-sizing: border-box;
    position: relative;
    min-height: 150px;
    height: 100vh;
    width: 32%;
    border:2px solid black;
    border-radius: 10px;
    margin-
.messages{
flex-grow: 2;
    box-sizing: border-box;
    position: relative;
    min-height: 150px;
    height: 100vh;
    width: 60%;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
margin-left: 10px;
.cp{
position: fixed;top: 10px;
margin-left: 10px;

}


}
}
.top-gainers{
    color: black;
    height: 100%;
    overflow-y: scroll;}
.top-losers{
    color: black;
    height: 100%;
    overflow-y: scroll;}
.top-trending{

    color: black;
    height: 100%;
    overflow-y: scroll;

}





.message-board .messages{
        color: black;
        height: 100%;
        overflow-y: scroll;



    }
.message-board{color: black;
    height: 100%;
    overflow-y: scroll;}
.messages{color: black;
    height: 100%;
    overflow-y: scroll;}
.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
    font-weight: bold;

}

.top-gainers  .h3{ font-size: 20px;  text-align: left;}
.top-gainers  .h5{font-size: 20px;   text-align: right;}
.top-gainers .h4{ font-size: 13px;   text-align: left;}
.top-gainers .h6{font-size: 13px;  text-align: right; }


.top-trending  .h3{ font-size: 20px;  text-align: left;}
.top-trending  .h5{font-size: 20px;   text-align: right;}
.top-trending .h4{ font-size: 13px;   text-align: left;}
.top-trending .h6{font-size: 13px;  text-align: right; }



.top-losers  .h3{ font-size: 20px;  text-align: left;}
.top-losers  .h5{font-size: 20px;   text-align: right;}
.top-losers .h4{ font-size: 13px;   text-align: left;}
.top-losers .h6{font-size: 13px;  text-align: right; }

.positive{color:green;}
.negative{color: red;}

@media screen and (max-width: 1500px) {
    .portfolio{   
        width:100%;
    }
    .gainers{   
        width:45%;
    }    
    .losers{                  
       width: 45%;
    }
}   







@media screen and (max-width: 1000px) {
    .flex-child{   
        flex-direction: column;
        width:100%;
        }
        .gainers{   
            flex-direction: column;
            width:100%;
            }
    
            .losers{   
                flex-direction: column;
                width:100%;
                }
       
                
                .news{
                    flex-direction: column;
                    width:100%;
                 
                }
                
                .messages{
                    flex-direction: column;
                    width:100%;
                    
                }

   }   