.positive {
    color: green; 
  }

  .negative {
    color: rgb(255, 0, 0); 
  }
  .h3 {
    font-size: 1.5rem;
    color: black; 
  }

  .h4 {
    font-size: 1.2rem;
    color: #000000;
  }

  .h5 {
    font-size: 1.3rem;
    color: #000000;
  }

    .h5 {
    font-size: 1.3rem;
    color: #000000;
  }
  .wrapper:hover {
    background-color: #f0f0f0;
  }

  .symbol-losing {
    color: red; 
  }
  
  .symbol-gaining {
    color: green; 
  }