.auth-sidebar {
  width:15%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.auth-buttons-sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.logout-message{color: #28a745;}
.auth-buttons-sidebar button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons-sidebar .login-button {
  background-color: #007bff;
  color: #fff;
}

.auth-buttons-sidebar .login-button:hover {
  background-color: #0056b3;
}

.auth-buttons-sidebar .create-account-button {
  background-color: #28a745;
  color: #fff;
}

.auth-buttons-sidebar .create-account-button:hover {
  background-color: #218838;
}

.auth-buttons-sidebar a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}

/* Mobile styles */
@media (max-width: 600px) {
  .auth-sidebar {
    width: 100%;
    box-shadow: none; /* Remove shadow on smaller screens */
    padding: 10px; /* Add some padding for better spacing */
    margin-bottom: 20px; /* Add margin to separate from other elements */
  }

  .auth-buttons-sidebar {
    flex-direction: row; /* Change direction to row for better layout */
    gap: 10px;
    justify-content: space-between; /* Space buttons evenly */
  }

  .auth-buttons-sidebar button {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .auth-buttons-sidebar .login-button, .auth-buttons-sidebar .create-account-button {
    width: 48%; /* Make buttons take half the width each */
  }
}