.card-recommendation-form {
    padding: 20px;
    background-color: #D8D7C3;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-recommendation-form h2 {
    font-size: 2em; /* Increased font size */
    margin-bottom: 10px; /* Reduced space below */
    color: #0E2E3B;
  }
  
  .card-recommendation-form p {
    font-size: 1em;
    margin-bottom: 15px; /* Reduced space below */
    color: #0E2E3B;
  }
  
  .card-recommendation-form .form-group {
    margin-bottom: 15px; /* Reduced space between form groups */
  }
  
  .card-recommendation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0E2E3B;
  }
  
  .card-recommendation-form .button-group input[type="button"] {
    display: inline-block;
    padding: 8px 15px; /* Smaller button size */
    font-size: 1em;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #0E2E3B;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
  }
  
  .card-recommendation-form .button-group input[type="button"]:hover {
    background-color: #166678;
    color: #ffffff;
  }
  
  .card-recommendation-form .button-group input[type="button"].selected {
    background-color: #166678;
    color: white;
  }
  
  .card-recommendation-form button.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #166678;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .card-recommendation-form button.submit-button:hover {
    background-color: #0E2E3B;
    transform: scale(1.05);
  }
  
  