/* src/components/CardRecommendationForm.css */
.card-recommendation-form {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    text-align: left;
}

.card-recommendation-form h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-recommendation-form p {
    font-size: 1em;
    margin-bottom: 20px;
}

.card-recommendation-form .form-group {
    margin-bottom: 20px;
}

.card-recommendation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.card-recommendation-form .button-group input[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f5f5f5;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.card-recommendation-form .button-group input[type="button"].selected {
    background-color: #006a71;
    color: white;
}

.card-recommendation-form button.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #006a71;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.card-recommendation-form button.submit-button:hover {
    background-color: #005557;
    transform: scale(1.05);
}
