

footer {
 
    width: 100%;
    position: relative;
    background-color: #222;
    color: #fff;
    text-align: center;
  }
  
  .footer-disclaimer 
  {
    display: flexbox;
    font-size: 14px;   
  }
  
  
  
  .footer-copyright {
    display: flexbox;
    width: 100%;
    text-align: center;
    margin: 2px;
    background-color: #f0f0f0;
  }
  
  .footer-copyright p {
    display: flexbox;
    font-size: 16px;
    margin: 2px;
    color: #666;
  }