/* Footer.css */

footer {
  height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    text-align: center;
  }
  
  .footer-disclaimer {
    display: flexbox;
    justify-content: space-between;
    font-size: 14px;   
  }
  
  
  
  .footer-copyright {
    display: flexbox;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 0px;
    background-color: #f0f0f0;
  }
  
  .footer-copyright p {
    display: flexbox;
    justify-content: space-between;
    font-size: 14px;
    margin: 0px;
    color: #666;
  }