/* Header.css */
header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo p {
  font-style: italic;
  margin: 0;
  color: #D8D7C3;
}

.search-auth {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #7DB9B3;
  border-radius: 5px;
  font-size: 16px;
  background-color: #D8D7C3;
  color: #31bdf5;
}

.search-button {
  padding: 10px 20px;
  background-color: #166678;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0E2E3B;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons .login-button, .auth-buttons .create-account-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #166678;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.auth-buttons .login-button:hover, .auth-buttons .create-account-button:hover {
  background-color: #0E2E3B;
}
